html {
  -webkit-overflow-scrolling: touch;
  overflow: auto !important;
  font-size: 20px !important;
}

@media screen and (max-width:783px) {
  html {
    font-size: 15px !important;
  }
}

/* Safari Only Rules */
@media screen and (-webkit-min-device-pixel-ratio:0) {
  #app {
  }
}

body {
  min-width: 320px !important;
  width:100% !important;
  max-width: 100% !important;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  color: white !important;
  -webkit-backface-visibility: hidden;
 	backface-visibility: hidden;
  padding: 0 !important;
  overflow-y: auto;
  overflow-x: hidden;
  background: url(low-poly-b-g-vector.svg) !important;
  background-size: contain;

  /*
  overflow: auto;
  height:100% !important;
  */
}


a {
  color: white !important;
}

h1, h2, h3, h4, h5, h6 {
  color: white !important;
  font-weight:400 !important;
}

.hugeheader {
  font-size: 2.4rem !important;
  line-height: 2.4rem;
  margin:2rem;
}

h1 {
  font-size: 1.8rem !important;
  font-weight: 400 !important;
}

h2 {
  font-size: 1.5rem !important;
  font-weight: 400 !important;
  margin-bottom:1.5rem !important;
}

h3 {
  font-size: 1.2rem !important;
  font-weight: 400 !important;
  margin-bottom:1.2rem !important;
}

h4 {
  font-size: 1rem !important;
  font-weight: 400 !important;
  margin-bottom:1rem !important;
}

input {
  color: black !important;
  border-radius: 3px !important;
}

input::selection {
  background: '#3085bd'
}

button {
  color: white !important;
  background: none;
  border: 1px solid white;

}

#overlay {
  width:100%;
  background-image: linear-gradient(188deg, #9155EF  24%, #218BD2  100%);
  opacity: 0.85;
  position:fixed;
  top: 0px;
  height:100%;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -2;
}

#overlay2 {
  background-image: linear-gradient(-183deg, rgba(255,255,255,0.00) 1%, rgba(0,0,0,0.30) 100%);
  z-index: -1;
  opacity: 0.5;
  position:fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height:100%;

}

#app {
  min-height: 100%;
  display: table;
  height: inherit;
  width:100%;
  z-index:3;
}

@media screen and (max-width:320px) {
  #app {
    display: block;
  }

  #left-footer {
    display: none;
  }

  #right-footer {
    margin: 0 auto;
  }
}

@media screen and (max-width:767px) {

  #left-footer {
    display: none;
  }

  #right-footer {
    margin: 0 auto;
  }
}

.form-box
{
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 15px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05);
}

.ui.small.image
{
    height:150px !important;
}

input
{
  border-color:#fff !important;
}

input:focus
{
  border-color:#F6D456 !important;
}

.big-button {
  background-image: linear-gradient(-180deg, #3BDD2C 0%, #29D729 100%) !important;
  color: white;
  border-radius:3px;
  font-weight:500 !important;
  letter-spacing:0.02rem;
}

.big-button:hover {
  background-image: linear-gradient(-180deg, #39D62A 0%, #27D027 100%) !important;
}

.big-secondary-button {
  color: white;
  background-color:transparent!important;
  border:1px solid rgba(255,255,255,0.5) !important;
  font-weight:500 !important;
  letter-spacing:0.02rem;
}

.big-secondary-button:hover {
  color: white;
  background-color:transparent!important;
  border:1px solid rgba(255,255,255,1) !important;
  font-weight:500 !important;
  letter-spacing:0.02rem;
}



.connectButton {
    background:none;
    border:1px solid rgba(255, 255, 255, 0.55);
    border-radius: 30px;
    color:white;
    height:2.2rem;
    width:100%;
    font-size:0.8rem;
}

.connectButton:hover {
    border: 1px solid rgba(255,255,255,1);
    background:none;
}

::-webkit-input-placeholder { /* Chrome */
  color: grey;
  transition: opacity 250ms ease-in-out;
}
:focus::-webkit-input-placeholder {
  opacity: 0.5;
}
:-ms-input-placeholder { /* IE 10+ */
  color: grey;
  transition: opacity 250ms ease-in-out;
}
:focus:-ms-input-placeholder {
  opacity: 0.5;
}
::-moz-placeholder { /* Firefox 19+ */
  color: grey;
  opacity: 1;
  transition: opacity 250ms ease-in-out;
}
:focus::-moz-placeholder {
  opacity: 0.5;
}
:-moz-placeholder { /* Firefox 4 - 18 */
  color: grey;
  opacity: 1;
  transition: opacity 250ms ease-in-out;
}
:focus:-moz-placeholder {
  opacity: 0.5;
}



